<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>Dinosaurs</string>
		<key>alternatives</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>Awesome</string>
				<key>title</key>
				<string>Awesome</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>ReallyAwesome</string>
				<key>shortTitle</key>
				<string>R. Awe.</string>
				<key>title</key>
				<string>Really Awesome</string>
			</dict>
		</array>
		<key>title</key>
		<string>Dinosaurs</string>
	</dict>
</array>
</plist>
